:root {
  --button-border-radius: 2px;
  --button-background-disabled: var(--grey-3);
}

.button,
.click {
  cursor: pointer;
}

.btn {
  display: inline-block;

  min-height: 40px;
  padding: 10px 20px;

  cursor: pointer;

  color: white;
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  border: 1px solid #0077c8;
  border-radius: 5px;

  background-color: #0077c8;
}

.btn.ghost {
  background-color: white;
  color: #0077c8;
}

.btn.ghost.no-border {
  border-color: transparent;
}
