.markdown-body {

  color: var(--black) !important;

  h1, h2, h3, h4 {
    margin: 15px 0 5px 0;
  }

  ul, ol {
    color: var(--black) !important;
  }

  a {
    color: var(--blue-link) !important;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;

    thead {
      color: var(--purple);
      border-bottom: 3px solid var(--grey-1);
      text-align: left;
      padding: 5px;

      th {
        background-color: var(--purple-1);
      }
    }

    td {
      padding: 7px 5px;
    }

    tr:nth-child(even) {
      background: var(--grey-1);
    }

  }

  ul {
    margin: 15px 0 15px 25px;
    list-style: circle;
    line-height: 22px;
  }

  ol {
    margin: 15px 0 15px 25px;
    line-height: 22px;
    list-style-type: decimal;
  }

  blockquote {
    padding: 0 1em;
    border-left: .25em solid lightgray;
  }

}