@import "normalize";
@import "variables";

@import "typography";

@import "shared/fields";
@import "shared/cards";
@import "shared/table";
@import "shared/markdown";

body {
    font-size: 16px;
    background-color: #dfe3e8;
    color: var(--black);

    &.modal-open {
        height: 100vh;
        overflow-y: hidden;
        padding-right: 15px;
    }
}

.main-content-margin {
    margin: var(--ver-padding-xl) var(--hor-padding-xl);
}

.click {
    cursor: pointer;

    &:hover {
        background-color: var(--grey-2);
    }
}
