@import "normalize";
@import "variables";

@import "typography";

@import "shared/fields";
@import "shared/cards";
@import "shared/table";

body {
  font-size: 16px;
  background-color: #dfe3e8;
  color: var(--black);
}

.main-content-margin {
  margin: var(--ver-padding-xl) var(--hor-padding-xl);
}

.click {
  cursor: pointer;
}
