<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edubadges</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="description" content="Edubadges are digital certificates which show that the owner has acquired certain skills or knowledge. Edubadges can be issued for both accredited education and extracurriculair activities.">
    <meta name="keywords" content="edubadges, digital certificates, micro-credentials, skills, formal, extracurriculair">
    <meta name="robots" content="index, follow">
    <meta name="author" content="SURF B.V.">
    <script type="text/javascript" src="piwik.js" />
  </head>
  <body>
  </body>
</html>
